body {
  font-family: "Gill Sans", sans-serif;
}

header {
  background-image: url(https://img.freepik.com/free-photo/_23-2148224566.jpg?size=626&ext=jpg);
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  background-size: auto;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  width: 100%;
  color: white;
}

header h1 {
  color: #2b2a2a;
  top: 50%;
  font-size: 60px;
  border-bottom: 4px solid #1f5184;
  margin: 50px 400px;
}

.status {
  width: 100%;
  padding-top: 50px;
}

/* --- define the box as a whole---------------------------------------- */
.box {
  position: relative;
  max-width: 800px;
  height: 600px;
  margin: auto;
  /* overflow   : hidden; */
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  animation: bgAnime 15s infinite; /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image: url(https://jp.stanby.com/seo-img/detail/sushishokunin.jpg);
  /* 背景の画像を指定 */
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.box .src2 {
  background-image: url(https://cdn.r-corona.jp/prd.rb.r-corona.jp/assets/site_files/10mu9zte/5673713/9bxf.jpg); /* 背景の画像を指定 */
  width: 100%;
  height: 100%;
  animation-delay: 10s;
}

@keyframes bgAnime {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.box .boxString {
  position: absolute;
  display: inline-block;
  padding: 30px;
  background: rgba(211, 211, 211, 0.7); /* 半透明の青 */
  color: #fff;
  top: 50%; /* 中央寄せ */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  font-size: 30px;
}
.box .boxString2 {
  position: absolute;
  display: inline-block;
  padding: 30px;
  background: rgba(211, 211, 211, 0.7); /* 半透明の青 */
  color: black;
  font-weight: bold;
  top: 50%; /* 中央寄せ */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  font-size: 30px;
  animation-delay: 10s;
}
.box p {
  text-align: center;
}

.box2 {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.icon {
  font-size: 50px;
}
.box2 p {
  font-size: 30px;
}
.stage {
  background-color: white;
  padding: 20px;
  border-radius: 50px 50px;
  color: #2b2a2a;
  border: 1px dotted gray;
}
.orderPlaced {
  background-color: #1f5184;
  color: white;
}
.preparing {
  background-color: #1f5184;
  color: white;
}
.bar {
  font-size: 100px;
  color: #1f5184;
  margin: 0;
  padding-top: 50px;
}
.barLast {
  color: #2b2a2a;
}
.status h2 {
  font-size: 45px;
  border-bottom: 4px solid #1f5184;
  text-align: center;
}

.driverLocation {
  width: 100%;
  text-align: center;
  padding: 50px;
}
.driverLocation h2 {
  font-size: 45px;
  width: 100%;
  border-bottom: 4px solid #1f5184;
  padding-bottom: 10px;
}
